*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    background-color: #01000c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  z-index: 999;
}

.intro video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

#dna_logo{
  position: absolute; /* Position it independently of other elements */
  top: 5vh; /* 5% from the top of the viewport */
  left: 5vw; /* 5% from the left of the viewport */
  width: 15vw; /* Control the size of the logo */
  height: auto; /* Maintain aspect ratio */
}
.swiper {
    margin-top: 20vh;
    width: 80vw;
    height: 50vw;
    display: flex; /* Makes this a flex container */
    justify-content: center; /* Centers the slides or content horizontally */
    align-items: center; /* Centers the slides or content vertically */
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20vw;
    display: flex; /* Ensure this is a flex container */
    align-items: center; /* Centers the image horizontally */
    justify-content: center; /* Centers the image vertically */
    height: 100%; /* You might adjust this depending on your design needs */
}

.swiper-slide .image-container {
  position: relative; /* Set position context for absolute children */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the content horizontally */
  width: 100%; /* Use the full width of the slide */
  height: 100%; /* Full height to match the slide */
}
.swiper-slide img {
    display: block;
    width: 30vw;
    border-radius: 1vw;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0002, #0004);
}

.swiper-slide p {
  color: #c5c5c5; /* Example color - white */
  font-size: 1.5vw;
  text-align: center; /* Center-align text */
  margin-top: 1vw; /* Add some space between the image and the caption */
}

/* Media Query for smaller devices */
@media (max-width: 600px) {
  .swiper-slide img {
    width: 40vw;
  }
  .swiper-slide p {
    font-size: 2vw;
  }
  #dna_logo{
    width: 25vw;
  }
  .swiper {
    margin-top: 35vh;
  }
  .video-popup {
    margin-top: 50vh;
  }
}

.close-btn {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 0.8rem;
  padding: 1vw 1.5vw;
  font-size: 0.8vw;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block; /* Ensures it does not break into multiple lines */
  white-space: nowrap; /* Prevents wrapping of text */
  overflow: hidden; /* Keeps all text inside the button's bounds */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}
.close-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #04df01;
  border: solid #000000;
  }